div
  h1 Welcome to {{ title }}!

  ul
    li(*ngFor="let player of players").button-row
      form((ngSubmit)="onEdit(player)")
        span {{ player.id }}

        label name
        input(type="text", [(ngModel)]="player.name", name="name")

        label number
        input( type="number", [(ngModel)]="player.number", name="number")

        label goals
        input( type="number", [(ngModel)]="player.goals", name="goals")

        button(type="submit", mat-raised-button, color="accent").button Ok
        button(type="button", mat-raised-button, color="warn", (click)="delete(player)").button X



form(#playerForm="ngForm", (ngSubmit)="onSubmit()")
  label name
    input(type="text", [(ngModel)]="newPlayer.name", name="name")
  label number
    input(type="number", [(ngModel)]="newPlayer.number", name="number")
  label goals
    input(type="number", [(ngModel)]="newPlayer.goals", name="goals")

  button(type="submit", mat-raised-button, color="primary") Ok
